.yicon:before{display:inline-block}
.yicon-18px.yicon:before{font-size:18px}
.yicon-24px.yicon:before{font-size:24px}
.yicon-36px.yicon:before{font-size:36px}
.yicon-48px.yicon:before{font-size:48px}
.yicon-xs.yicon{font-size:.75em}
.yicon-sm.yicon{font-size:.875em}
.yicon-lg.yicon{font-size:1.125em;line-height:.75em;vertical-align:-.0667em}
.yicon-2x.yicon{font-size:2em}
.yicon-3x.yicon{font-size:3em}
.yicon-5x.yicon{font-size:5em}
.yicon-7x.yicon{font-size:7em}
.yicon-10x.yicon{font-size:10em}
.yicon-rotate-45:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.yicon-rotate-90:before{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.yicon-rotate-135:before{-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.yicon-rotate-180:before{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.yicon-rotate-225:before{-webkit-transform:rotate(225deg);-ms-transform:rotate(225deg);transform:rotate(225deg)}
.yicon-rotate-270:before{-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.yicon-rotate-315:before{-webkit-transform:rotate(315deg);-ms-transform:rotate(315deg);transform:rotate(315deg)}
.yicon-flip-h:before{-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"}
.yicon-flip-v:before{-webkit-transform:scaleY(-1);transform:scaleY(-1);filter:FlipV;-ms-filter:"FlipV"}
.yicon-spin:before{-webkit-animation:yicon-spin 2s infinite linear;animation:yicon-spin 2s infinite linear}
@-webkit-keyframes yicon-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes yicon-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
