.yicon-18px.yicon:before {
  font-size: 18px;
}
.yicon-24px.yicon:before {
  font-size: 24px;
}
.yicon-36px.yicon:before {
  font-size: 36px;
}
.yicon-48px.yicon:before {
  font-size: 48px;
}
.yicon-xs.yicon {
    font-size: .75em;
}
.yicon-sm.yicon {
    font-size: .875em;
}
.yicon-lg.yicon {
    font-size: 1.125em;
    line-height: .75em;
    vertical-align: -.0667em;
}
.yicon-2x.yicon {
    font-size: 2em;
}
.yicon-3x.yicon {
    font-size: 3em;
}
.yicon-5x.yicon {
    font-size: 5em;
}
.yicon-7x.yicon {
    font-size: 7em;
}
.yicon-10x.yicon {
    font-size: 10em;
}