@font-face {
  font-family: 'yicons';
  src:  url('fonts/yicons.eot?qda2vg');
  src:  url('fonts/yicons.eot?qda2vg#iefix') format('embedded-opentype'),
    url('fonts/yicons.ttf?qda2vg') format('truetype'),
    url('fonts/yicons.woff?qda2vg') format('woff'),
    url('fonts/yicons.svg?qda2vg#yicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.yicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yicon-wssf:before {
  content: "\e911";
}
.yicon-google-maps:before {
  content: "\e90f";
}
.yicon-ali-maps:before {
  content: "\e910";
}
.yicon-youku:before {
  content: "\e90e";
}
.yicon-creative-commons-by:before {
  content: "\e900";
}
.yicon-creative-commons-nc-eu:before {
  content: "\e901";
}
.yicon-creative-commons-nc-jp:before {
  content: "\e902";
}
.yicon-creative-commons-nc:before {
  content: "\e903";
}
.yicon-creative-commons-nd:before {
  content: "\e904";
}
.yicon-creative-commons-pd-alt:before {
  content: "\e905";
}
.yicon-creative-commons-pd:before {
  content: "\e906";
}
.yicon-creative-commons-remix:before {
  content: "\e907";
}
.yicon-creative-commons-sa:before {
  content: "\e908";
}
.yicon-creative-commons-sampling-plus:before {
  content: "\e909";
}
.yicon-creative-commons-sampling:before {
  content: "\e90a";
}
.yicon-creative-commons-share:before {
  content: "\e90b";
}
.yicon-creative-commons-zero:before {
  content: "\e90c";
}
.yicon-creative-commons:before {
  content: "\e90d";
}
.yicon-A:before {
  content: "\41";
}
.yicon-C:before {
  content: "\43";
}
.yicon-E:before {
  content: "\45";
}
.yicon-G:before {
  content: "\47";
}
.yicon-L:before {
  content: "\4c";
}
.yicon-N:before {
  content: "\4e";
}
.yicon-R:before {
  content: "\52";
}
.yicon-S:before {
  content: "\53";
}
.yicon-T:before {
  content: "\54";
}
.yicon-U:before {
  content: "\55";
}
.yicon-Y:before {
  content: "\59";
}
.yicon-Z:before {
  content: "\5a";
}
.yicon-a:before {
  content: "\61";
}
.yicon-c:before {
  content: "\63";
}
.yicon-e:before {
  content: "\65";
}
.yicon-g:before {
  content: "\67";
}
.yicon-l:before {
  content: "\6c";
}
.yicon-n:before {
  content: "\6e";
}
.yicon-r:before {
  content: "\72";
}
.yicon-s:before {
  content: "\73";
}
.yicon-t:before {
  content: "\74";
}
.yicon-u:before {
  content: "\75";
}
.yicon-y:before {
  content: "\79";
}
.yicon-z:before {
  content: "\7a";
}
.yicon-uni5802:before {
  content: "\5802";
}
.yicon-uni5927:before {
  content: "\5927";
}
.yicon-uni6C5F:before {
  content: "\6c5f";
}
.yicon-uni8BB2:before {
  content: "\8bb2";
}
.yicon-uni957F:before {
  content: "\957f";
}
.yicon-18px.yicon:before {
  font-size: 18px;
}
.yicon-24px.yicon:before {
  font-size: 24px;
}
.yicon-36px.yicon:before {
  font-size: 36px;
}
.yicon-48px.yicon:before {
  font-size: 48px;
}
.yicon-xs.yicon {
    font-size: .75em;
}
.yicon-sm.yicon {
    font-size: .875em;
}
.yicon-lg.yicon {
    font-size: 1.125em;
    line-height: .75em;
    vertical-align: -.0667em;
}
.yicon-2x.yicon {
    font-size: 2em;
}
.yicon-3x.yicon {
    font-size: 3em;
}
.yicon-5x.yicon {
    font-size: 5em;
}
.yicon-7x.yicon {
    font-size: 7em;
}
.yicon-10x.yicon {
    font-size: 10em;
}
